<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430283834633-h2uhcpi1n4ofkg7fh3grkfsvp4r3h2qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430283834633-h2uhcpi1n4ofkg7fh3grkfsvp4r3h2qo</string>
	<key>API_KEY</key>
	<string>AIzaSyB8m5ZdrSF0aqjY2URkqHauNGLJ535zsQU</string>
	<key>GCM_SENDER_ID</key>
	<string>430283834633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Tasksu</string>
	<key>PROJECT_ID</key>
	<string>tasksu-38f6f</string>
	<key>STORAGE_BUCKET</key>
	<string>tasksu-38f6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430283834633:ios:2300a26fce57bb541d7fd8</string>
</dict>
</plist>